<mat-card>
  <div fxLayout="row" fxLayoutAlign="center start">
    <div fxLayout="column" class="width-detail">

      <mat-form-field>
        <input matInput [(ngModel)]="contact.firstName"
               type="text"
               required maxlength="12"
               placeholder="First name">
        </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="contact.lastName"
               type="text"
               required maxlength="12"
               placeholder="Last name">
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="contact.phone"
               type="text"
               required maxlength="12"
               placeholder="Phone">
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="contact.email"
               type="text"
               required maxlength="25"
               placeholder="Email">
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="contact.street"
               type="text"
               required maxlength="25"
               placeholder="Street">
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="contact.postalCode"
               type="text"
               required maxlength="10"
               placeholder="Postal code">
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="contact.city"
               type="text"
               required maxlength="25"
               placeholder="City">
      </mat-form-field>

    </div>
  </div>
</mat-card>
<button mat-fab color="primary" class="fab-detail">
  <i class="material-icons">check</i>
</button>



