<mat-card>
<!--  <mat-toolbar>
<button mat-fab color="primary">
    <i class="material-icons">list</i>
  </button>
    <span class="fill-remaining-space">Contacts</span>
  </mat-toolbar> -->

<mat-nav-list>
  <dtca-contact-list-item *ngFor="let c of contacts"
    [contact]="c"
  (selected)="onContactSelected($event)">
  </dtca-contact-list-item>
</mat-nav-list>
</mat-card>
<button mat-fab color="primary" class="fab-detail" align="right" (click)="onCreateNew()">
  <i class="material-icons">add</i>
</button>

