.dtca-sidenav-container {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.dtca-sidenav {
  width: 200px;
}

.dtca-app-container {
  height: 100%;
  overflow: auto;
}

.dtca-sidenav-avatar {
  font-size: 80px;
  width: 80px;
  height: 80px;
}

.dtca-sidenav-user-area {
  background: #D9D9D9;
  padding: 8px;
}

.dtca-sidenav-content {
  overflow: hidden;
}

.profile {
  color: crimson;
  font-size: large;
  font-family: "Gill Sans MT";
}
