<!--The content below is only a placeholder and can be replaced.-->

<!-- <dtca-contact-detail></dtca-contact-detail> -->

<!-- <dtca-contact-list></dtca-contact-list> -->

<mat-card>
  <mat-sidenav-container class="dtca-sidenav-container">
  <mat-sidenav #sidenav align="start" [mode]="'over'" [opened]="false" class="dtca-sidenav">
    <!-- Sidenav content -->
    <div>
      <div fxLayout="column" fxLayoutAlign="center center" class="dtca-sidenav-user-area">
        <div>
          <mat-icon class="dtca-sidenav-avatar" color="primary">face</mat-icon>
        </div>
        <div>
          <span class="profile">Maijuriina Mustonen</span>
        </div>
      </div>
      <mat-divider></mat-divider>

      <div>
        <mat-nav-list>
          <mat-list-item>
            <a routerLink="login" (click)="sidenav.toggle()">Sign out</a>
          </mat-list-item>
        </mat-nav-list>
      </div>
    </div>
  </mat-sidenav>

  <div fxFlexFill class="dtca-sidenav-content">
    <!-- App content -->
<dtca-toolbar (MenuClick)="sidenav.toggle()"></dtca-toolbar>
    <div class="dtca-app-container">
      <!-- App -->
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-sidenav-container>

  <button mat-fab color="primary" class="fab-detail" align="right">
    <i class="material-icons">add</i>
  </button>

</mat-card>

