<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1 class = "app-header">Tervetuloa opiskelemaan Web-devausta!</h1>
  <h2 class = "app-title"><u>{{title}}</u></h2>
  <h3 class = "app-message">{{message}}</h3>
  <p>Tässä esimerkissä kokeillaan muuttaa HTML DOM-puuta TypeScript:llä.
  <p>Lisätään: painike, tekstikenttä ja data binding (yksi- ja kaksisuuntainen) sekä css-tyylikirjasto</p>
  <button (click)="onButtonClick()">Napsauta minua!</button>
  <p><input [(ngModel)]="message"></p>
</div>


